# Django-specific ignores
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
static/

# Environment and Secret files
.env
.venv
env/
venv/
*.bak

# Google Cloud ignores
.gcloudignore
.cloudstorage/

# System files
.DS_Store
